*.o
*.d
*.obs
*.ini
*.local
*.pos
Release
Release_Build
Debug
Debug_Build
__history
__astcache
.vscode/
.claude/*.trace
app/consapp/sppostls/gcc/sppostls
./Users/sergeidolin/RTKLIB/app/consapp/sppostls/test
work